* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
}

.content {
  font-size: 0;
  height: 160%;
  width: 110%;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==
    ) repeat;
  background-size: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box-1 {
  width: 100%;
  height: 50%;
  background: #FFEA19;
background: -webkit-linear-gradient(top, #FFEA19, #F08830);
background: -moz-linear-gradient(top, #FFEA19, #F08830);
background: linear-gradient(to bottom, #FFEA19, #F08830);

 
  
  
 
}

.box-2 {
  background-color: orange;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 110%;
  left:50%;
  
}

.box-3{
  background-color: blue;
  width: 40%;
  height: 20%;
  left: 30%;
  transform: translate(-50%,-50%);
   position: absolute;
  top: 10%;
  left: 25%;
  box-shadow: -20px 20px;
}



.box-3 p{
  font-size: 20px;
  -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-90deg);
    position: relative;
    bottom: 260px;
    left: -230px;
    color: white;
}


.youtube{
  width:160px;
  height:130px;
  position: relative;
  left: 40%;
   top: 40%;
}

.instagram{
  width: 140px;
  height: 140px;
  position: relative;
  left: 10%;
  top: 10%;
}

.admit{
  width:240px; 
  height: 80px;
  position: relative;
  left:-10%;
  top:-10%;
 
   -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-90deg);

}

.gmail{
width:130px; 
height:100px;
left: 40%;
}





/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

   .box{
        width: 33.33%;
      
      }
     .box-1{
      width: 65vw;

     }

     .box-2{
      width: 65vw;
     }


    .box-3{
      height: 20vh;
    }
.admit{
  width:240px; 
  height: 80px;
  position: relative;
  left:-40%;
  top:-10%;
 
   -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-90deg);

}




}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .box{
        width: 33.33%;
      
      }
     .box-1{
      width: 60vw;
      position: relative;
      right: 10%;
      top: 35%;
      height: 30%;

     }

     .box-2{
      width: 60vw;
      position: relative;
      right: 10%;
      top: 45%;
      height: 30%;

     }


    .box-3{
      height: 20vh;
      top: 15%;
      
    }


    .admit{
  width:240px; 
  height: 80px;
  position: relative;
  left:-50%;
  top:20%;
 
   -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-90deg);

}
    
}

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
  .box {
    width: 100%;
  }

  .box-1 {
  width: 50vw;
  height: 
  
}

  .box-2{
    width: 50vw;
  }

  .box-3{
    width: 50vw;
  }

.admit{
  width:240px; 
  height: 80px;
  position: relative;
  left:-50%;
  top:20%;
 
   -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-90deg);

}






}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1100px) {

}

